
<div class="group-card">
  {{>card-border}}

  {{#if card.isLightFeatured}}
       {{>light-feature-card-tag}}
  {{else}}
    {{>feature-card-tag}}
  {{/if}}

  <div class="card main-news-card">
    <div class="img-top">
      <img class="card-img-top img-fluid" src="{{card.cardImageUrl}}" alt="Card image cap" />
      <div class="img-bar">

      </div>
    </div>
    <div class="card-body">
      <div class="title-group d-flex flex-row justify-content-between align-items-center">
        <h5 class="card-title">{{card.title}}</h5>
        <div class="title-icon">
        <img src="images/svg/icons/Media Type.svg" alt="">
          
        </div>
      </div>
      <p class="card-text">
        {{card.bodyText}}
      </p>
      <div class="d-flex d-row justify-content-between align-items-center">
        <span class="author">{{card.author}}</span>
        <a href="" class="btn btn-share">
          <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5761 8.50617C16.7796 8.3318 16.8813 8.24461 16.9186 8.14086C16.9513 8.0498 16.9513 7.9502 16.9186 7.85914C16.8813 7.75539 16.7796 7.6682 16.5761 7.49383L9.51719 1.44331C9.167 1.14315 8.99191 0.993063 8.84367 0.989386C8.71483 0.986191 8.59177 1.04279 8.51035 1.14269C8.41667 1.25764 8.41667 1.48825 8.41667 1.94948V5.52886C6.63777 5.84007 5.00966 6.74146 3.79976 8.09489C2.48069 9.57043 1.75103 11.48 1.75 13.4591V13.9691C2.62445 12.9157 3.71626 12.0638 4.95063 11.4716C6.03891 10.9495 7.21535 10.6403 8.41667 10.5588V14.0505C8.41667 14.5117 8.41667 14.7424 8.51035 14.8573C8.59177 14.9572 8.71483 15.0138 8.84367 15.0106C8.99191 15.0069 9.167 14.8569 9.51719 14.5567L16.5761 8.50617Z" stroke="#434F5A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
              Share
        </a>
      </div>
    </div>
  </div>
  <div class="card group-list-card">
    <ul class="list-group list-group-flush">
      <div class="top-border"></div>
      <li class="list-group-item nlist-item">American Airlines Regional Carrier Offering Pilots Triple Pay</li>
      <div class="top-border"></div>
      <li class="list-group-item nlist-item d-flex d-row justify-content-between align-items-center">
        <div>JetBlue Announces New Spirit Offer After Advisory Firm Sides With Frontier</div>
        <div class="list-icon ps-4">
         <img src="images/svg/icons/Button.svg" alt="">
        </div>
      </li>
       <div class="top-border"></div>
      <li class="list-group-item nlist-item">LATAM Airlines to Eliminate Single-Use Plastics by 2023</li>
    </ul>
  </div>
</div>